html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: Middle;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

html {
	height: 100%;
}
header, nav, section, article, aside, footer {
	display: block;
}
body {
	font: 12px/18px Tahoma, Verdana, Arial, sans-serif;
	height: 100%;
	background: black;
	background: url('./img/bg.jpg');
	background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img {
	border: none;
}

#wrapper {
	width: 100%;
	min-width: 500px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

/* Links
-----------------------------------------------------------------------------*/
a {
	color: black;
	text-decoration: none;
}
a:hover {
	color: grey;
	text-decoration: none;
}

/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 95px;
}

#header img, #header h2{
	display: inline;
	color: white;
	font-weight: normal;
	padding: 10px;
}

#header-left{
	float: left;
}

#header-right{
	float: right;
}

/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	padding: 0 0 25px;
	height: 1%;
	position: relative;
}
#middle:after {
	content: '';
	clear: both;
	display: table;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
	margin: 10px 0 0 30px;
	padding: 20px;
	background: white;
	border-top-left-radius: 10px;
	--moz-border-top-left-radius: 10px;
	--webkit-border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	--moz-border-bottom-left-radius: 10px;
	--webkit-border-bottom-left-radius: 10px;
}


/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
	float: left;
	width: 160px;
	margin-top: 20px;
	padding: 10px;
	margin-left: -100%;
	position: relative;
}

#sideLeft .nav div{
	display: inline-block;
	width: 0px;
	height: 19px;
	max-height: 19px;
	overflow:hidden;
}

#sideLeft .nav li a{
	background: lightgrey;
	max-height: 19px;
}

#sideLeft .nav li a:hover{
	background: white;
}


/* Footer
-----------------------------------------------------------------------------*/
#footer {
	margin: -25px auto 0;
	min-width: 500px;
	height: 25px;
	position: relative;
}

/* Forms
-----------------------------------------------------------------------------*/
input[type="text"], input[type="password"]{
	font-family: 'Oxygen', sans-serif;
	height: 32px
}

textarea{
	font-family: 'Oxygen', sans-serif;
	padding: 10px 10px 10px 10px !important;
	min-height: 100px;
}

select{
	font-family: 'Oxygen', sans-serif;
	height: 32px !important;
}

label{
	display: inline-block;
	margin-bottom: 5px;
	width: 235px;
	border-bottom: 1px dotted #ccc;
}

form{
	margin: 0 0 20px;
	padding: 20px;
}

/* Tables
-----------------------------------------------------------------------------*/
.table th{
	background-color: #808080 !important;
	color: #EEE;
}

.table {
	border: 1px solid #ddd;
}

.table tr:nth-child(odd){
	background-color: #f7f7f7;
}

h2 {
    border-bottom: 2px solid black !important;
    margin-bottom: 15px !important;
}

.adminemail{
    color: black;
    text-decoration: none;
    border: 1px solid #aaa;
    display: inline-block;
    margin-bottom: 2px;
    margin-left: 4px;
    padding: 3px 8px;
    border-radius: 5px;
    background: #FFFFE2;
}